<h1 class="current-category"> <u><%= params[:category] %> </u></h1>
<% if @books.count == 0 %>
	<h2>There are no books in this category.</h2>
<% else %> 

	<div class="row">

		<% @books.each do |book| %>
			<% #some bootstrap populating magic %>
			<div class="col-md-3">
				<% #generate books#show based on book.id %>
				<a href="/books/<%= book.id %>">

					<% #display image_tag calling book_img from @book %>
					<%= image_tag book.book_img.url(:book_index) %>
				</a>
			</div>
		<% end %>
	</div>
	
<% end %>
